*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
}

.search-form {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  width: 100%;
}

.content__list {
  position: relative;
  height: 298px;
  overflow-y: auto;
  margin-top: -10px;
}

.content__list::-webkit-scrollbar {
  width: 6px;
}

.content__list::-webkit-scrollbar-thumb {
  background-color: #424242;
  border-radius: 5px;
}


.content__details {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  height: 100%;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.content__video-card-description-container {
  width: 100%;
  height: 100%;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #FFF;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}  

label {
  outline: none;
}

fieldset {
  border: none;
}

.search-form__label {
 display: flex;
 width: fit-content;
}

.search-form__fieldset input {
  width: 225px;
  font-family: inherit;
  color: rgba(255, 255, 255, 0.70);
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
  border: none;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  

}

input[type="checkbox"] + span {
  width: 19px;
  height: 19px;
  outline: 1px solid #FFF;
  margin-right: 5px;
}

.button {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  color: #FFF;
  background-color: transparent;
  border: 1px solid #FFF;
} 

.search-form__submit-button {
  width: 194px;
  height: 34px;
  margin-top: 20px;
  cursor: pointer;
}

.more-button {
  width: 399px;
  height: 34px;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF; 
  outline-offset: 2px;

}

input[type="text"]:focus {
  outline: none;
}

.search-form__pseudo-checkbox {
  position: relative;
}

input[type="checkbox"]:checked + span::before {
  position: absolute;
  content: '';
  width: 17px;
  height: 17px;
  top: 1px;
  left: 1px;
  background-color: #FFF;
} 

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 1px solid #FFF; 
  outline-offset: 2px;
}

button:active {
  background-color: #545050;
}

button:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.content__card-link {
  display: block;
  margin: 2px;
  padding: 5px;
} 

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
} 

.content__card-link:focus-visible {
  outline: 1px solid #FFF; 
} 

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.content__card-link:active {
  background-color: #545050;
}
